{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<main>
    <div>
        <h1 class="text-center">InnovaMind</h1>
        <p class="text-center text-muted text-uppercase">Welcome to our wonderful community</p>
        <hr>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="display-6 text-end">InnovaMind</div>
            <h2 class="text-muted text-end">InnovaMind is a forward-thinking startup focused on innovation. We are dedicated to creating efficient and powerful software through the use of first-class functions.</h2>
            <button class="btn btn-outline-info">Show more</button>
        </div>        
    </div>
    <div class="card">
        <div class="card-body"> 
            <div class="display-5 text-muted">Advantage</div>
                <br>
                <div class="card">
                    <div class="card-body">
                        <div class="display-4 text-muted text-lowercase">Efficiency</div>
                        <h6 class="text-uppercase">Streamline your software development</h6>
                        <p class="text-muted">Streamline your software development with our innovative platform...</p>
                        <button class="btn btn-outline-warning">Show more</button>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-body">
                        <div class="display-4 text-muted text-lowercase text-center">Innovation</div>
                        <h6 class="text-uppercase text-center">Forward-thinking approach to programming</h6>
                        <p class="text-muted">Stay ahead of the curve with our forward-thinking approach to programming...</p>
                        <button class="btn btn-outline-warning">Show more</button>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-body">
                        <div class="display-4 text-muted text-lowercase text-end">Collaboration</div>
                        <h6 class="text-uppercase text-end">Connect with like-minded developers</h6>
                        <p class="text-muted text-end">Connect with a community of like-minded developers to share knowledge and insights...</p>
                        <button class="btn btn-outline-warning">Show more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <div class="display-5 text-lowercase">Terms of use</div>
            <br>
            <div class="card">
                <div class="card-body">
                    <h5 class="text-uppercase">Check out our requirements</h5>
                    <br>
                    <div class="card">
                        <div class="card-body">
                            <p class="text-uppercase text-muted">By using or accessing the service, you agree to be bound by the terms and conditions outlined in the agreement.</p>
                            <button class="btn btn-success">Accept</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</main>



{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
